#services-container {
    display: flex;
   
    justify-content: center;
    
}



.service-one {
    display: flex;
    align-items: center;
    background-color: #d96704;
    cursor: pointer;
    height: 100px;
    width: 300px;
    justify-content: center;
    margin: 50px;
    border-radius: 20px;
    color: white;
    font-family: serif;
    font-size: 30px;
}

.service-two {
    display: flex;
    align-items: center;
    background-color: #d96704;
    cursor: pointer;
    height: 100px;
    width: 300px;
    justify-content: center;
    margin: 50px;
    border-radius: 20px;
    color: white;
    font-family: serif;
    font-size: 30px;
}

.service-three {
    display: flex;
    align-items: center;
    background-color: #d96704;
    cursor: pointer;
    height: 100px;
    width: 300px;
    justify-content: center;
    margin: 50px;
    border-radius: 20px;
    color: white;
    font-family: serif;
    font-size: 30px;
}

.boxes {
    display: flex;
}

@media screen and (max-width:800px) { 

    .boxes{
      flex-direction: column;
    }
    
}    
