/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
}

.fin-image {
  height: 500px;
  width: 1000px;
  padding: 50px;
}

.center {
  text-align: center;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
