/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fin-image {
  height: 500px;
  width: 100%;
  height: auto;
  max-width: 860px;
}

.container {
  display: flex;
  justify-content: center;
  background-color: navy;
  margin-right: 10px;
}

.navbar {
  text-align: center;
  background-color: #d96704;
  display: flex;
  height: 50px;
  width: 100%;
  color: white;
  font-size: 25px;
  border-bottom: 2px solid blue;
}

.navTextLogo {
  padding-top: 14px;
  padding-left: 125px;
  font-family: serif;
}
